#add_item_form {
  min-width: 300px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
      margin-top: 8px;
    }
  }
  .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}
