<form id="update_item_form" [formGroup]="updateItemForm">
  <h1 mat-dialog-title>Update Item</h1>
  <div mat-dialog-content class="main">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder" formControlName="name" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Insert your item's name</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Placeholder" formControlName="description" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Insert your item's description</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput placeholder="Placeholder" formControlName="price" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Insert your item's price</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Placeholder" formControlName="quantity" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Insert your item's quantity</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput placeholder="Placeholder" formControlName="imageURL" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Insert your item's image URL</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="btn-box">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="this.updateItemForm.value"
      cdkFocusInitial
      [disabled]="this.updateItemForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
